.footer_container {
    display: flex;
    height: 100px;
    flex: 1;
    background-color: $color_background;
    justify-content: flex-end;
    align-items: center;

    .left_footer {
      flex: 1;
      margin: 0 0 0 $margin_small;
      font-size: $font_size_large;
      font-weight: $font_weight_medium;
      justify-content: flex-start;
    }

    .button_container {
      margin: 0 10px;
      

      &.right {
        margin: 0 20px 0 10px;
      }

      &:hover {
        transform: scale(1.2);
      }

      a {
        color: $color_black;
        
      }
    }
  }
  