@import 'global/variables';
@import 'global/breakpoints';
@import 'global/text_style';


.footer_container {
    display: flex;
    height: 70px;
    background-color: $color_background;
    justify-content: center;
    align-items: center;
  }
  