  <div local-class="footer_container">
    <div local-class="left_footer">
      Roderick Developers
    </div>
    <div local-class="button_container">
      <a href="https://www.linkedin.com/in/roderickdevelopers/">
        <FaIcon @icon="linkedin" @prefix="fab" @size=3x /></a>
    </div>
    <div local-class="button_container">
      <a href="https://github.com/roderickdevelopers/">
        <FaIcon @icon="github" @prefix="fab" @size=3x /></a>
    </div>
    <div local-class="button_container right">
      <a href="https://twitter.com/Roderickdev">
        <FaIcon @icon="twitter" @prefix="fab" @size=3x /></a>
    </div>
  </div>
  