<div local-class="contact_component_container">
  <div local-class="contact_content_container">
    <div local-class="contact_content_container_row top">
      <h1>Contact Me</h1>
      <p>{{this.paragraphOne}}</p>
    </div>
    <div local-class="contact_card">
      <img src="/assets/images/contact.png" alt="Matthew">
      <h1>Matthew Roderick</h1>
        <div local-class="contact_title">
          Roderick Developers
        </div>
      <p>Jr. Developer</p>
      <h3>roderickdevelopers@gmail.com</h3>
    </div>
  </div>
</div>