<div local-class="contact_component_container">
  <div local-class="contact_content_container">
    <div local-class="contact_content_container_row top">
      <h1>Let's Connect</h1>
      <p>{{this.paragraphOne}}</p>
    </div>
    <div local-class="contact_card">
      <img src="/assets/images/contact.png" alt="Matthew">
      <div local-class="contact_title">
        <form action="https://formsubmit.co/roderickdevelopers@gmail.com" method="POST">
          <div local-class="contact_form">
            <input type="text" placeholder="Full Name" required>
          </div>
          <div local-class="contact_email">
            <input type="email" name="email" placeholder="Email Address" required>
          </div>
          <div local-class="text_area">
            <textarea name="message" placeholder="Your Message" required></textarea>
          </div>
          <div local-class="contact_send">
            <button type="submit"> Send
              <FaIcon @icon="paper-plane" @prefix="far" />
              <input type="hidden" name="_captcha" value="false">
              <input type="text" name="_honey" style="display:none">
              <input type="hidden" name="_next" value="https://roderickdevelopers.netlify.app/thank-you">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>