@import 'global/variables';
@import 'global/breakpoints';
@import 'global/text_style';

.blog_component_container {
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  background-color: $color_background;

  .blog_header_container {
    

  }

  .blog_content_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $color_background;
    justify-content: center;
    align-items: center;
    

    .blog_content_container_row {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      

      &.top {
        display: flex;
        flex: 1;
        justify-content: center;
        @include text_style();
      }
    }

    .blog_flipcard_container {
      margin: 50px;

      .button_container {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        

        :hover {
          box-shadow: inset 9px 9px 16px $color_box_shadow, inset -9px -9px 16px $color_white;
        }

        button {
          padding: 10px 20px;
          margin-left: 20px;
          font-size: $font_size_medium;
          white-space: nowrap;
          cursor: pointer;
          background-color: $color_background;
          border: 0;
          border-radius: 2em;
          outline: 0;
          box-shadow: -9px -9px 16px $color_white, 9px 9px 16px $color_box_shadow;  
        }
      }
    }
  }

  .blog_footer_container {

  }
}
