<div local-class="blog_index_component_container">
  <div local-class="blog_index_content_container">
    <div local-class="blog_index_content">
    <Structural::Ui::CardRow 
      @blogPost={{this.blogPost}}
      @imageFrontCardOne={{this.imageFrontCardOne}}
      @imageFrontCardTwo={{this.imageFrontCardTwo}}
    />
    </div>
  </div>
</div>
