<div local-class="blog_component_container">
  <div local-class="blog_content_container">
    <div local-class="blog_content_container_row top">
      <h1>Blog Post's</h1>
      <p>{{this.paragraphOne}}</p>
    </div>
    <div local-class="blog_content_container_row">
      <div local-class="blog_flipcard_container">
        <Dynamic::Ui::Card @imageFront={{this.imageFrontCardOne}} />
        <div local-class="button_container">
          <LinkTo @route="blog.ember-mobile-menu">
            <button type="button" aria-label="Blog Post">Blog Post</button>
          </LinkTo>
        </div>
      </div>
      <div local-class="blog_flipcard_container">
        <Dynamic::Ui::Card @imageFront={{this.imageFrontCardTwo}} />
        <div local-class="button_container">
          <LinkTo @route="blog.git-for-beginners">
            <button type="button" aria-label="Blog Post">Blog Post</button>
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>