<div local-class="blog_component_container">
  <div local-class="blog_content_container">
    <div local-class="blog_content_container_row top">
      <p>Blog post's this is a placeholder</p>
    </div>
    <div local-class="blog_content_container_row">
      <div local-class="blog_flipcard_container">
        <Dynamic::Ui::Card @imageFront={{this.imageFrontCardOne}} />
        <div local-class="button_container">
          <LinkTo @route="blog.show">
            <button type="button" aria-label="Blog Post">Blog Post</button>
          </LinkTo>
        </div>
      </div>
      <div local-class="blog_flipcard_container">
        <Dynamic::Ui::Card @imageFront={{this.imageFrontCardTwo}} />
        <div local-class="button_container">
          <LinkTo @route="blog.show">
            <button type="button" aria-label="Blog Post">Blog Post</button>
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
  {{!-- <Structural::Ui::Footer>
    <Structural::Ui::ScrollToTop />
  </Structural::Ui::Footer> --}}
</div>
