@import 'global/variables';

button {
  padding: 10px 20px;
  font-size: $font_size_medium;
  white-space: nowrap;
  cursor: pointer;
  background-color: $color_background;
  border: 0;
  border-radius: 2em;
  outline: 0;
}
