
@import 'global/variables';
@import 'global/breakpoints';

.portfolio_page_header {
  padding-top: 50px;
  font-size: $font_size_large;
  text-align: center;
  background-color: $color_background;

  @include breakpoint(medium) {
    font-size: $font_size_large;
  }

  @include breakpoint(large) {
    font-size: $font_size_large;
  }

  @include breakpoint(wide) {
    font-size: $font_size_extra_large;
  }

  h1 {
    margin: 0;
    text-decoration: underline;
  }
}

.portfolio_page_container {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;
  }

  @include breakpoint(wide) {
    flex-direction: row;
  }

  .portfolio_page_side_bar_container {
    display: flex;
    min-width: 17.1875rem;
    max-width: 17.1875rem;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: center;
  }

  .portfolio_page_body_container {
    display: flex;
    height: 100vh;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;

    .portfolio_page_dashboard_row_container {
      margin: 0 0 $margin_large;

      &.first {
        margin: $margin_large 0;
      }
    }
  }
}
