<div local-class="card_container">
  <div local-class="card">
    <div local-class="card_front">
      <picture>
          <source srcset={{@imageFront}} alt="Info Card" type="image/webp">
          <img src={{@imageFrontFallBack}} alt="Info Card"> 
        </picture> 
    </div>
  </div>
</div>
        