.card_container {
  width: 150px;
  height: 150px;
  perspective: 75rem;


  .card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    .card_front {
      position: absolute;
      width: 100%;
      height: 100%;
      color: $color_black;
      border-radius: 15px;
      box-shadow: -9px -9px 16px $color_white, 9px 9px 16px $color_box_shadow;
      justify-content: center;
      align-items: center;
    }

      img {
        width: 150px;
        height: 150px;
        align-self: center;
      }
    }
  }

