@import 'global/variables';
@import 'global/breakpoints';
@import 'global/text_style';

.projects_component_container {
  background-color: $color_background;

.content_container {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    @include text_style();
  }
}

.images_container {
  display: flex;
  flex: 1;
  font-size: $font_size_extra_large;
  text-align: center;
  justify-content: center;
  align-items: center;

  .image {
    flex: 1;
    font-weight: $font_weight_medium;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}
}
