  <div local-class="certificates_component_container">
    <div local-class="certificates_content_container">
      <div local-class="certificates_content">
        <h1>Certificates</h1>
        <p>{{this.paragraphOne}} <a href="https://www.freecodecamp.org/">freeCodeCamp</a>. You can learn
          HTML, CSS, JavaScript, and much more.
        </p>
      </div>
    </div>
    <div local-class="images_container">
      <div local-class="image">
        Responsive Web
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/freecodecampone.webp" loading="lazy" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/freecodecampone.png" loading="lazy" alt="freecodecamp">
        </picture>
      </div>
      <div local-class="image">
        Js and Data
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/freecodecamptwo.webp" loading="lazy" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/freecodecamptwo.png" loading="lazy" alt="freecodecamp">
        </picture>
      </div>
      <div local-class="image">
        Front End Libraries
        <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/freecodecampthree.webp" loading="lazy"
            type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/freecodecampthree.png" loading="lazy" alt="freecodecamp">
        </picture>
      </div>
    </div>
  </div>