@mixin text_style {
  font-size: $font_size_large;
  

    a {
      color: $color_menu;

      &:visited {
        color: $color_menu;
      }

      &:hover {
        color: $color_link_hover;
      }
    }

    @include breakpoint(wide) {
      font-size: $font_size_extra_large;
    }
}
