//Sizes
$size_extra_small: 0.390625rem; //6.25px
$size_small: 0.78125rem; //12.5px
$size_medium: 1.5625rem; //25px
$size_half_of_extra_large: 2.34375rem;
$size_large: 3.125rem; //50px
$size_extra_large: 4.6875rem; //75px
$size_extra_extra_large: 6.25rem; //100px
$size_wide: 12.5rem;  //200px

//Colors
$color_white: #ffffff;
$color_almost_white: #fafafa;
$color_ghost_white: #f8f8ff;
$color_grey_30: #4d4d4d;
$color_grey_45: #b3b3b3;
$color_grey: #f7f7f7;
$color_grey_72: #b8b8b8;
$color_grey_86: #dbdbdb;
$color_grey_94: #f0f0f0;
$color_black: #000000;
$color_orange: #ff4f00;
$color_blue: #05386b;
$color_royal_purple: #25274d;
$color_purple: lighten($color_royal_purple, 10%);
$color_stone_blue: #336b87;
$color_pebble_blue: lighten($color_stone_blue, 50%);
$color_background: #e0e5ec;
$color_footer: #8695ac;
$color_box_shadow: #a3b1c6;
$color_menu: #3c4856;
$color_yellow: #fffe80;
$color_light_grey: #f0f0f0;
$color_green: #98c379;
$color_red: #e06c75;
$color_almost_black: #2d2d2d;
$scroll_bar: #c7c7c7;
$code_block: #272c34;
$mobile_menu_active: #546579;

//Links
$color_link: #4072bd;
$color_link_hover: #8695ac;

//Borders
$border_base_color: $color_black;
$border_base_color_alternate: $color_grey_45;
$border_base_width: 1px;
$border_base: solid $border_base_width $border_base_color;
$border_base_alternate: solid $border_base_width $border_base_color_alternate;
$border_radius_base: 3px;

//Buttons
$button_height_base: 2.75;
$button_height_base_mini: 2;
$button_padding_base: 0;

//Margins
$margin_extra_small: 1.25rem;
$margin_small: 1.5625rem;
$margin_medium: 1.875rem;
$margin_large: 3.125rem;
$margin_extra_large: 6.25rem;

//Font 
$font_size_small: 0.75em;
$font_size_medium: 0.875rem;
$font_size_large: 1.25em;
$font_size_extra_large: 2em;
$font_weight_medium: 600;
$font_weight_small: 400;

//Padding
$padding_small: 1.25rem;

//Box shadow
$shadow_contact: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$text_shadow: 0 0 4px rgba(255, 255, 255, 1);
$text_shadow_menu: 0 0 4px rgba(0, 0, 0, 0.23);
$nav_shadow: rgba(0, 0, 0, 0.2);

//Height
$height_large: 3.125rem;

//Drop Shadow Filter
$drop_shadow: 2px 4px 8px #585858;





