@import 'global/variables';
@import 'global/breakpoints';

.blog_ember_mobile_menu_component_container {
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  background-color: $color_background;
  justify-content: center;
  align-items: center;

  .blog_ember_mobile_menu_article_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}
