@import 'global/variables';
@import 'global/breakpoints';
@import 'global/text_style';
// sass-lint:disable no-vendor-prefixes

.menu_container {
  display: flex;
  min-height: 100%;
  flex: 1;
  flex-direction: column;
  color: $color_background;
  background-color: $color_menu;

  .title {
    height: 3.125rem;
    min-height: 1.5625rem;
    margin-bottom: 20px;
    text-align: center;

    a {
      color: $color_background;
      text-decoration: none;

      &:visited {
        color: $color_background;
      }
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;

    .nav_item_container {
      display: flex;
      min-height: 3.125rem;
      flex: 1;
      font-size: $font_size_large;
      justify-content: center;

      a {
        color: $color_background;
        text-decoration: none;

        &:visited {
          color: $color_background;
        }

        &:global(.active) {
          display: flex;
          width: 80%;
          height: 40px;
          font-weight: bolder;
          color: $color_menu;
          text-align: center;
          background-color: $color_background;
          border-radius: 2em;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .some_other_section {
    display: flex;
    min-height: 50px;
    margin: 8.2rem 0 0;
    justify-content: center;

    a {
      margin: $margin_extra_small;
      color: $color_background;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .profile_pic_section {
    display: flex;
    margin-top: $margin_extra_large;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
}

.header {
  display: flex;
  height: 3.75rem;
  min-height: 3.75rem;
  background-color: $color_background;
  align-items: center;

  .toggle_container {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @-webkit-keyframes slide-in-left {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    @keyframes slide-in-left {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    button {
      color: $color_menu;
      background-color: $color_background;
      border: 0;
    }
  }

  .contact_container {
    flex: 1;
    margin: 5px $margin_extra_small 0 0;
    font-size: $font_size_medium;
    font-weight: $font_weight_medium;
    color: $color_black;
    text-align: right;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @-webkit-keyframes slide-in-right {
      0% {
        opacity: 0;
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    @keyframes slide-in-right {
      0% {
        opacity: 0;
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    a {
      color: $color_black;
      text-decoration: none;

      &:visited {
        color: $color_black;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    @include breakpoint(large) {
      flex: 1;
      margin: 0 $margin_extra_small 0 0;
      font-size: $font_size_extra_large;
      font-weight: $font_weight_medium;
      color: $color_black;
      text-align: right;
    }

    @include breakpoint(wide) {
      flex: 1;
      margin: 5px $margin_extra_small 0 0;
      font-size: $font_size_extra_large;
      font-weight: $font_weight_medium;
      color: $color_black;
      text-align: right;
    }

    button {
      min-width: 145px;
      max-width: 145px;
      padding: 15px 30px;
      font-family: vollkorn;
      font-size: $font_size_medium;
      color: $color_white;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: pointer;
      background-color: $color_menu;
      border: 0;
      border-radius: 2em;
      outline: 0;
      transition: all 0.4s ease 0s;

      @include breakpoint(large) {
        min-width: 145px;
        max-width: 145px;
        padding: 15px 30px;
        font-family: vollkorn;
        font-size: $font_size_medium;
        color: $color_white;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
        background-color: $color_menu;
        border: 0;
        border-radius: 2em;
        outline: 0;
        transition: all 0.4s ease 0s;

        &:hover {
          text-shadow: $text_shadow;
          -webkit-box-shadow: $shadow_contact;
          -moz-box-shadow: $shadow_contact;
          box-shadow: $shadow_contact;
          transition: all 0.4s ease 0s;
        }
      }

      @include breakpoint(wide) {
        min-width: 145px;
        max-width: 145px;
        padding: 15px 30px;
        font-family: vollkorn;
        font-size: $font_size_medium;
        color: $color_white;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
        background-color: $color_menu;
        border: 0;
        border-radius: 2em;
        outline: 0;
        transition: all 0.4s ease 0s;

        &:hover {
          text-shadow: $text_shadow;
          -webkit-box-shadow: $shadow_contact;
          -moz-box-shadow: $shadow_contact;
          box-shadow: $shadow_contact;
          transition: all 0.4s ease 0s;
        }
      }
    }
  }
}
