@import 'global/variables';
@import 'global/breakpoints';
@import 'global/text_style';

.menu_container {
  display: flex;
  min-height: 100%;
  flex: 1;
  flex-direction: column;
  color: $color_background;
  background-color: $color_menu;

  .title {
    height: 3.125rem;
    min-height: 1.5625rem;
    margin-bottom: 20px;
    text-align: center;

    a:link {
      text-decoration: none;
    }

    a:link {
      color: $color_background;
    }

    a:visited {
      color: $color_background;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;

    .nav_item_container {
      display: flex;
      min-height: 3.125rem;
      flex: 1;
      font-size: $font_size_large;
      justify-content: center;

      a:link {
        color: $color_background;
        text-decoration: none;
      }

      a:visited {
        color: $color_background;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .some_other_section {
    display: flex;
    min-height: 50px;
    margin: 8.2rem 0 0;
    justify-content: center;

    a {
      margin: $margin_extra_small;
      color: $color_background;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .profile_pic_section {
    display: flex;
    margin-top: $margin_extra_large;
    justify-content: center;

    img {
      border-radius: 50%;
    }
  }
}

.header {
  display: flex;
  height: 3.125rem;
  min-height: 1.5625rem;
  background-color: $color_background;
  align-items: center;

  .toggle_container {

    button {
      color: $color_menu;
      background-color: $color_background;
      border: 0;
      outline: none;
    }
  }

  .contact_container {
    flex: 1;
    margin: 0 $margin_extra_small 0 0;
    font-size: $font_size_medium;
    font-weight: $font_weight_medium;
    color: $color_black;
    text-align: right;

    a:link {
      text-decoration: none;
    }

    a:link {
      color: $color_black;
    }

    a:visited {
      color: $color_black;
    }

    a:hover {
      text-decoration: underline;
    }

    @include breakpoint(large) {
      flex: 1;
      margin: 0 $margin_extra_small 0 0;
      font-size: $font_size_extra_large;
      font-weight: $font_weight_medium;
      color: $color_black;
      text-align: right;
    }

    @include breakpoint(wide) {
      flex: 1;
      margin: 0 $margin_extra_small 0 0;
      font-size: $font_size_extra_large;
      font-weight: $font_weight_medium;
      color: $color_black;
      text-align: right;
    }

    button {
      padding: 7px 15px;
      font-size: $font_size_medium;
      color: $color_white;
      white-space: nowrap;
      cursor: pointer;
      background-color: $color_menu;
      border: 0;
      border-radius: 2em;
      outline: 0;
      
    }
  }
}
