<nav>
  <MobileMenuWrapper as |mmw|>
    <mmw.MobileMenu as |mm|>
      <div local-class="menu_container">
        <div local-class="title">
          <mm.LinkTo @route="index"><h1>Roderick Developers</h1></mm.LinkTo>
        </div>
        <div local-class="navigation">
          <div local-class="nav_item_container">
            <mm.LinkTo @route="projects">Projects</mm.LinkTo>
          </div>
          <div local-class="nav_item_container">
            <mm.LinkTo @route="certificates">Certificates</mm.LinkTo>
          </div>
          <div local-class="nav_item_container">
            <mm.LinkTo @route="blog">Blog</mm.LinkTo>
          </div>
          <div local-class="nav_item_container">
            <mm.LinkTo @route="resume">Resume</mm.LinkTo>
          </div>
        </div>
        <div local-class="profile_pic_section">
          <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/profilepicsmall.webp" loading="lazy" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/profilepicsmall.png" loading="lazy">
        </picture>
        </div>
      </div>
    </mmw.MobileMenu>
    <mmw.Content>
      <div local-class="header">
        <div local-class="toggle_container">
          <mmw.Toggle>
            <p>Menu</p>
          </mmw.Toggle>
        </div>
        <div local-class="contact_container">
          <LinkTo @route="contact">
            <button id="contact_me" class="button">Contact Me 
            </button>
          </LinkTo>
        </div>
      </div>
      {{yield}}
    </mmw.Content>
  </MobileMenuWrapper>
</nav>
