<nav>
  <div local-class="main_navigation_container">
    <div local-class="main_navigation">
      <div local-class="button_navigation_container">
        <div local-class="button_navigation">
          <LinkTo @route="index">
          <FaIcon @icon="home" title="Home" @prefix="fas" @size=2x />
          <figcaption>Home</figcaption>
        </LinkTo>
        </div>
        <div local-class="button_navigation">
          <LinkTo @route="projects">
            <FaIcon @icon="code" @prefix="fas" @size=2x />
            <figcaption>Projects</figcaption>
          </LinkTo>
        </div>
        <div local-class="button_navigation">
          <LinkTo @route="certificates">
            <FaIcon @icon="award" @prefix="fas" @size=2x />
            <figcaption>Certs</figcaption>
          </LinkTo>
        </div>
        <div local-class="button_navigation">
          <LinkTo @route="blog">
            <FaIcon @icon="newspaper" @prefix="fas" @size=2x />
            <figcaption>Blog</figcaption>
          </LinkTo>
        </div>
        <div local-class="button_navigation">
          <LinkTo @route="resume">
            <FaIcon @icon="id-badge" @prefix="fas" @size=2x />
            <figcaption>Resume</figcaption>
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
  {{yield}}
</nav>

