<nav>
  <MobileMenuWrapper as |mmw|>
    <mmw.MobileMenu as |mm|>
      <div local-class="menu_container">
        <div local-class="title">
          <mm.LinkTo @route="index"><h1>Roderick Developers</h1></mm.LinkTo>
        </div>
        <div local-class="navigation">
          <div local-class="nav_item_container">
            <mm.LinkTo @route="projects">Projects</mm.LinkTo>
          </div>
          <div local-class="nav_item_container">
            <mm.LinkTo @route="certificates">Certificates</mm.LinkTo>
          </div>
          <div local-class="nav_item_container">
            <mm.LinkTo @route="blog">Blog</mm.LinkTo>
          </div>
          {{#if (or (media 'isLarge') (media 'isMedium') (media 'isWide'))}}
          <div local-class="nav_item_container">
            <mm.LinkTo @route="resume">Resume</mm.LinkTo>
          </div>
          {{/if}}
        </div>
        <div local-class="profile_pic_section">
          <picture>
          <source srcset="https://roderickdevelopers.s3.us-east-2.amazonaws.com/profilepicsmall.webp" type="image/webp">
          <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/profilepicsmall.png">
        </picture>
        </div>
        <div local-class="some_other_section">
          <a href="https://www.linkedin.com/in/roderickdevelopers/">
            <FaIcon @icon="linkedin" @prefix="fab" @size=2x /></a>
          <a href="https://github.com/roderickdevelopers/">
            <FaIcon @icon="github-square" @prefix="fab" @size=2x /></a>
          <a href="https://twitter.com/Roderickdev">
            <FaIcon @icon="twitter-square" @prefix="fab" @size=2x /></a>
        </div>
      </div>
    </mmw.MobileMenu>
    <mmw.Content>
      <div local-class="header">
        <div local-class="toggle_container">
          <mmw.Toggle>
            <FaIcon @icon="bars" @prefix="fas" @size='2x' />
          </mmw.Toggle>
        </div>
        <div local-class="contact_container">
          <LinkTo @route="contact">
            <button id="contact_me" class="button">Contact Me
            </button>
          </LinkTo>
        </div>
      </div>
      {{yield}}
    </mmw.Content>
  </MobileMenuWrapper>
</nav>
