@import 'global/variables';
@import 'global/breakpoints';
// sass-lint:disable no-vendor-prefixes

.home_index_component_container {
  display: flex;
  flex-direction: column;
  background-color: $color_background;

  .hero_image_content_container {
    display: flex;
    height: calc(100vh - 3.125rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero_image_container {
      display: flex;
      flex: 1;
      font-size: 0.5em;
      align-items: center;
      justify-content: center;
      
      @include breakpoint(large) {
        font-size: $font_size_small;
      }

      @include breakpoint(wide) {
        font-size: $font_size_large;
      }

      .hero_image_content {
        
        p {
          width: 22ch;
          margin: 0 auto;
          overflow: hidden;
          font-family: vollkorn;
          font-size: 2.5em;
          font-weight: bolder;
          text-align: center;
          white-space: nowrap;
        }
      }
    }

    .down_arrow_component_container {
      display: flex;
      height: 12.5rem;
      justify-content: center;
      align-items: center;

      .down_arrow_content {
        display: flex;
        flex: 1;
        cursor: pointer;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
        -moz-animation-name: bounce 2s infinite;
        justify-content: center;
        align-items: center;
        
        @keyframes bounce {

          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }

          40% {
            transform: translateY(-10px);
          }

          60% {
            transform: translateY(-15px);
          }
        }
      }
    }
  }

  .skills_component_container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: $color_white;
    background-color: $color_menu;

    @include breakpoint(large) {
      display: flex;
      min-height: 100vh;
      flex-direction: row;
      color: $color_white;
      background-color: $color_menu;
    }

    @include breakpoint(wide) {
      display: flex;
      min-height: 100vh;
      flex-direction: row;
      color: $color_white;
      background-color: $color_menu;
    }


    .skills_header_container {
      flex: 1;

      .skills_header_content {
        flex: 1;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        justify-content: center;
        align-items: center;
      }

      .skills_body_content {
        margin: $margin_extra_large $margin_medium;
        font-size: $font_size_large;
        text-align: left;

        a {
          color: $color_background;
          text-decoration: underline;

          &:visited {
            color: $color_background;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        @include breakpoint(wide) {
          margin: 0 $margin_large $margin_large 100px;
        }

        p {
          margin-top: $margin_medium;
          margin-bottom: $margin_medium;
        }
      }
    }

    .skills_content_container_row {
      display: flex;
      flex: 1;
      flex-flow: row wrap;
      margin-bottom: 50px;
      justify-content: center;
      align-items: center;

      @include breakpoint(large) {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
  
      @include breakpoint(wide) {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }

      img {
        border-radius: 50%;
        // box-shadow: -9px -9px 16px $color_menu, 9px 9px 16px $color_box_shadow;
      }
    }
  }
}
