@import 'global/variables';
@import 'global/breakpoints';
// sass-lint:disable no-vendor-prefixes

.home_index_component_container {
  display: flex;
  flex-direction: column;
  background-color: $color_background;

  @include breakpoint(large) {
    padding-top: 100px;

  }

  @include breakpoint(wide) {
    padding-top: 100px;
  }

  .hero_image_content_container {
    display: flex;
    height: calc(100vh - 3.125rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero_image_container {
      display: flex;
      flex: 1;
      font-size: 0.5em;
      align-items: center;
      justify-content: center;

      @include breakpoint(large) {
        font-size: $font_size_small;
      }

      @include breakpoint(wide) {
        font-size: $font_size_large;
      }

      .hero_image_content {
        -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

        @-webkit-keyframes slide-in-top {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
          }

          100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @keyframes slide-in-top {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
          }

          100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }

        p {
          width: 25ch;
          margin: 0 auto;
          overflow: hidden;
          font-family: vollkorn;
          font-size: 2.5em;
          font-weight: bolder;
          text-align: center;
          white-space: nowrap;
        }
      }
    }

    .down_arrow_animation_container {
      display: flex;
      height: 12.5rem;
      -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      justify-content: center;
      align-items: center;

      @-webkit-keyframes slide-in-bottom {
        0% {
          opacity: 0;
          -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
        }

        100% {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }

      @keyframes slide-in-bottom {
        0% {
          opacity: 0;
          -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
        }

        100% {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }

      .down_arrow {
        display: flex;
        flex: 1;
        cursor: pointer;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
        -moz-animation-name: bounce 2s infinite;
        justify-content: center;
        align-items: center;

        @keyframes bounce {

          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }

          40% {
            transform: translateY(-10px);
          }

          60% {
            transform: translateY(-15px);
          }
        }
      }
    }

  }

  .about_me_container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: $color_white;
    background-color: $color_menu;

    .about_me {
      display: flex;
      flex-direction: column;

      @include breakpoint(large) {
        flex-direction: row;
        margin-top: 50px;
      }

      @include breakpoint(wide) {
        flex-direction: row;
        margin-top: 50px;
      }

      .about_me_description_container {
        display: flex;
        flex: 1;
        flex-direction: column;

        .about_me_title {
          flex: 1;
          font-size: 30px;
          font-weight: bolder;
          text-align: center;
          justify-content: center;
          align-items: center;
        }

        .about_me_description {
          margin: $margin_medium;
          font-size: $font_size_large;

          a {
            color: $color_white;

            &:visited {
              color: $color_white;
            }
          }

          @include breakpoint(wide) {
            margin: 0 $margin_large $margin_large 100px;
          }

          p {
            margin-top: $margin_medium;
            margin-bottom: $margin_medium;
          }
        }
      }

      .about_me_image_container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .down_arrow_animation_container {
      display: flex;
      height: 12.5rem;
      -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      justify-content: center;
      align-items: center;

      @-webkit-keyframes slide-in-bottom {
        0% {
          opacity: 0;
          -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
        }

        100% {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }

      @keyframes slide-in-bottom {
        0% {
          opacity: 0;
          -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
        }

        100% {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }

      .down_arrow {
        display: flex;
        flex: 1;
        cursor: pointer;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
        -moz-animation-name: bounce 2s infinite;
        justify-content: center;
        align-items: center;

        @keyframes bounce {

          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }

          40% {
            transform: translateY(-10px);
          }

          60% {
            transform: translateY(-15px);
          }
        }
      }
    }
  }

  .skills_container {
    display: flex;
    min-height: 100vh;
    flex-direction: column-reverse;
    color: $color_black;
    background-color: $color_background;

    @include breakpoint(large) {
      flex-direction: row;
    }

    @include breakpoint(wide) {
      flex-direction: row;
    }

    .skills {
      display: flex;
      flex: 1;
      flex-flow: row wrap;
      margin-top: 20px;
      margin-bottom: 50px;
      justify-content: center;
      align-items: center;

      .small_cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        img {
          margin: 20px;
          border-radius: 2em;
          box-shadow: -9px -9px 16px $color_white, 9px 9px 16px $color_box_shadow;
          transform: scale(0.9);

          @include breakpoint(medium) {

            &:hover {
              transform: scale(1);
            }
          }

          @include breakpoint(large) {

            &:hover {
              transform: scale(1);
            }
          }

          @include breakpoint(wide) {

            &:hover {
              transform: scale(1);
            }
          }
        }
      }
    }

    .skills_title_container {
      flex: 1;

      @include breakpoint(large) {
        margin-top: 50px;
      }
  
      @include breakpoint(wide) {
        margin-top: 50px;
      }

      .skills_title {
        flex: 1;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        justify-content: center;
        align-items: center;
      }

      .skills_body {
        margin: $margin_medium;
        font-size: $font_size_large;
        text-align: left;

        a {
          color: $color_menu;
          text-decoration: underline;

          &:visited {
            color: $color_menu;
          }
        }

        @include breakpoint(wide) {
          margin: 0 $margin_large $margin_large 100px;
        }

        p {
          margin-top: $margin_medium;
          margin-bottom: $margin_medium;
        }
      }
    }
  }

  .back_to_top_button_container {
    position: fixed;
    right: 0;
    bottom: 0;
    display: inline-flex;
    margin: 0 10px 20px 0;
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    
    @-webkit-keyframes slide-in-bottom {
      0% {
        opacity: 0;
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    @keyframes slide-in-bottom {
      0% {
        opacity: 0;
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
}
