    <div local-class="home_index_container">
      <div local-class="home_index_header_container">
      </div>
      <div local-class="hero_image">
        <div local-class="content">
          <p>
            Hello,
          </p>
          <p>
            My Name is Matthew Roderick.
          </p>
          <p>
            I am a Jr. Developer!
          </p>
        </div>
      </div>
      <div local-class="down_arrow_container">
        <ScrollTo @target='#about_me' @duration="1000">
          {{#if (or (media 'isMedium') (media 'isLarge') (media 'isWide'))}}
          <div local-class="down_arrow_main">
            <FaIcon type="button" @icon="chevron-down" @prefix="fa" @size=3x />
          </div>
          {{/if}}
          {{#if (or (media 'isMedium') (media 'isSmall') (media 'isMedium'))}}
          <div local-class="down_arrow_main">
            <FaIcon type="button" @icon="chevron-down" @prefix="fa" @size=2x />
          </div>
          {{/if}}
        </ScrollTo>
      </div>
    </div>
    <div local-class="skills_header" id="about_me">
      <h1>About Me</h1>
      <hr />
    </div>

    <div local-class="skills_body">
      <p>Hello, My name is Matthew Roderick. I am always learning new skill sets and expanding my knowledge in Web
        Development. I started back in 2014 with android web development and made a few themes .apks for a text
        messaging
        application. I am now taking on Web Development! I started freeCodeCamp in November 2019 and have been pushing
        my
        skills every day. </p>
      <p>This website site was built with ember octane from a boilerplate I helped create with Design Monster LLC. The
        boilerplate is updated to the latest ember version with all the necessary add ons.</p>
      <p>I am currently looking for work.
        I make fast, responsive websites and have used ember.js and react. </p>
      <p>Enough about me! Go ahead and check out my site and my <LinkTo @route="projects">projects</LinkTo>! </p>
    </div>
    <div local-class="skills_content_container_row">
      <div local-class="profile_pic">
        <img src="assets/images/profilepic.png" alt="profile pic">
      </div>
    </div>
    <Structural::Ui::Footer>
      <Structural::Ui::ScrollToTop />
    </Structural::Ui::Footer>
