<div local-class="contact_component_container">
  <div local-class="contact_content_container">
    <div local-class="contact_card">
      <img src="https://roderickdevelopers.s3.us-east-2.amazonaws.com/messagesent.webp" alt="Matthew">
      <div local-class="contact_title">
       {{paragraphOne}}
       <br>
       <br>
       {{paragraphTwo}}
      </div>
      <div local-class="button_container">
          <LinkTo @route="index">
            <button type="button" aria-label="Blog Post">Back to site</button>
          </LinkTo>
        </div>
    </div>
  </div>
</div>