  <div local-class="desktop_menu">
    {{!-- <LinkTo @route='resume'> --}}
      <Dynamic::Ui::IconCircle><FaIcon @icon="file-alt" @size='2x' /></Dynamic::Ui::IconCircle>
    {{!-- </LinkTo> --}}
    <a href="https://www.linkedin.com/in/ryan-roderick/" target="_blank" rel="noopener noreferrer" class="linked_in_icon z_index_on_top">
        <Dynamic::Ui::IconCircle><FaIcon @icon="linkedin" @prefix="fab" @size='2x' /></Dynamic::Ui::IconCircle>
    </a>
    <a href="https://github.com/RpRoderick" target="_blank" rel="noopener noreferrer" class="z_index_on_top">
        <Dynamic::Ui::IconCircle><FaIcon @icon="github" @prefix="fab" @size='2x' /></Dynamic::Ui::IconCircle>
    </a>
    <a href="https://github.com/RpRoderick" target="_blank" rel="noopener noreferrer" class="z_index_on_top">
        <Dynamic::Ui::IconCircle><FaIcon @icon="envelope" @prefix="far" @size='2x' /></Dynamic::Ui::IconCircle>
    </a>
  </div>