<div local-class="resume_component_container">
  <div local-class="download_button_container">
    <a href="/assets/files/matthew-roderick-resume.pdf" download>
      <button type="button" aria-label="Blog Post">Download PDF</button>
    </a>
  </div>
{{#if (or (media 'isLarge') (media 'isMedium') (media 'isWide'))}}
  <div local-class="resume_content_container">
    <div local-class="resume_content">
      <div local-class="resume_header_container">
        <div local-class="resume_header">
          <h1>Matthew Roderick</h1>
          <h6>roderickdevelopers@gmail.com</h6>
        </div>
          <div local-class="resume_header_row">
            <h1>Web Developer</h1>
            <h6>roderickdevelopers.com</h6>
          </div>
        </div>
      <h1>About Me</h1>
      <p>I am a Web Developer who has taught myself HTML, CSS, and JavaScript. I love Ember.js, especially Octane, and
        have several ongoing projects in both Octane and React.js. I have been mentored for the last 12 months by a more
        experienced developer and have learned more than I ever thought possible. I have loved contributing to
        open-source projects and enjoyed the connections I have made. Highly motivated and looking for my first
        opportunity. </p>
      <h1>Work Experience</h1>
      <h3>Front-End Developer Internship</h3>
      <h4>Design Monster LLC</h4>
      <h5>Jan 2020 – Present (11 mos)</h5>
      <ul>
        <li>Given specific tasks via Jira to complete</li>
        <li>Helped with design aspects</li>
        <li>Working with tickets and a team</li>
      </ul>  
      <h3>Open Source Contributions</h3>
      <h4>Ember.js</h4>
      <h5>Apr 2020 – Present (8 mos)</h5>
      <ul>
        <li>Learned Git and GitHub</li>
        <li>Wrote numerous blog posts for Ember Times</li>
        <li>Several open source contributions for The Ember Learning Team</li>
      </ul>
      <h3>Inbound Coordinator</h3>
      <h4>Cole Haan</h4>
      <h5>Feb 2017 – Oct 2020 (3 yrs 9 mos)</h5>
      <ul>
        <li>Support business and make decisions guided by policies, procedures, and own business plan that impact the
          efficiency and effectiveness of its own unit and other units with interrelated processes.</li>
        <li>Provide the tools and training to ensure employee success. Coach and counsel employees on daily and weekly
          performance. Communicate performance to supervisor.</li>
        <li>Coordinated and work alongside full-time and temporary help daily, including training, monitoring
          performance, assigning work, and reporting performance to supervisors and managers.</li>
        <li>Monitored morale and assisted in the motivating of teammates.</li>
        <li>Responsible for using Warehouse Management System (WMS) for Receiving, Shipping, Picking, track cartons,
          etc.
          Assist in managing a consistent flow of work throughout the DC.</li>
      </ul>
      <h3>Mechanic</h3>
      <h4>Nissan Motor Corporation</h4>
      <h5>Jan 2015 – Feb 2017 (2 yrs 2 mos)</h5>
      <ul>
        <li>Diagnosed complicated mechanical problems utilizing schematics and diagrams to ensure
          issues were fixed and customers were happy.</li>
        <li>Worked on simple projects from oil changes to brakes, and more complicated projects such as
          transmission replacement which included digital reprogramming of core systems.</li>
      </ul>
      <h3>Material Handler</h3>
      <h4>SIG SAUER, Inc.</h4>
      <h5>Mar 2013 – Feb 2015 (2 yrs)</h5>
      <ul>
        <li>Earned certification in forklift operations and was responsible for maintaining proper safety
          protocols.</li>
        <li>Trained in Oracle Programming System that integrated, full-stack solutions to run crucial
          customer workloads faster.</li>
      </ul>
      <h1>Education</h1>
      <h3>freeCodeCamp</h3>
      <h4>Certifications, Web Development</h4>
      <h5>2019 – 2020</h5>
      <ul>
        <li>Earned Responsive Web Design Certificate (300 Hours)</li>
        <li>Earned JavaScript Algorithms and Data Structures Certificate (300 Hours)</li>
        <li>Earned Responsive Front End Libraries Certificate (300 Hours)</li>
      </ul>
    </div>
  </div>
  {{/if}}
</div>
{{#if (or (media 'isSmall'))}}
  <div local-class="mobile_view_content_container">
    <div local-class="mobile_view_content">
      <p>If you would like to take a look at my Resume please download!!</p>
    </div>
  </div>  
{{/if}}