  <button type="button" data-aos="fade-in" data-aos-offset="1000" data-aos-easing="ease-in-sine"{{on "click" @backToTop}}>
    <FaIcon type="button" @icon="chevron-up" @prefix="fa" style="color:#E0E5EC;" @size=2x />
  </button>
